
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Courier,"ヒラギノ角ゴシック W1", "メイリオ";
  background-color: #ddd;
  /*font-size: 14px;*/
}

span.red {
  color: red;
}

header {
  background-image: url("top_profile.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

#logo {
  margin-left: 20px;
  padding: 20px 0;
  text-align: left;
}

#logo img {
  max-width: 120px;
  border: 5px solid #ddd;
  border-radius: 100%;
}

#logo h1 {
  /*letter-spacing: 0.15em;*/
  /*参考：http://www.nxworld.net/tips/50-css-heading-styling.html
   *19. 補足やサブタイトル的なものを表示*/
  padding-bottom: .5em;
  /*border-bottom: 1px solid #ccc;*/
  color: #eee;
  /*text-shadow: 1px 1px 0px #000;*/
}

#logo h1 span{
  display: block;
	margin-bottom: .4em;
	color: #ccc;
	font-size: .6em;
}

nav {
  margin: 0 0 30px 0;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
}

nav ul {
  margin: 0 10px;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
  display: inline-block;
}

nav ul li a {
  padding: 15px 10px;
  text-decoration: none;
  color: #999;
  font-weight: bold;
}

nav ul li a.selected {
  color: #000;
}

.container {
  max-width: 800px;
  margin: -50px auto 0;
  background-color: #fff;
}

section {
  padding: 30px 20px;
}

section h2 {
  padding: 10px 0 20px 0;
  text-align: center;
  letter-spacing: 0.15em;
}

#apps {
  padding: 20px 0;
  text-align: center;
}
#apps img {
  width: 60%;
}
#apps figure {
 margin-bottom: 20px;
}
#apps figcaption {
    text-align: center;
    font-size: 16px;
}

footer {
  padding: 20px 0;
  font-size: 93%;
  text-align: center;
  background-color: #ccc;
  color: #666;
}